<%= form_with(model: mentorship, local: true) do |form| %>
  <% if mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% mentorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :goal_id %>

    <% User.find(1).goals.each do |goal| %>
      <%= check_box_tag 'mentorship[goal_id]', goal.id %><%= goal.name %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :article_id %>
    <%= form.text_field :article_id, id: :mentorship_article_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
