<p id="notice"><%= notice %></p>

<h1>Mentorships</h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Article</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentorships.each do |mentorship| %>
      <tr>
        <td><%= mentorship.goal %></td>
        <td><%= mentorship.article %></td>
        <td><%= link_to 'Show', mentorship %></td>
        <td><%= link_to 'Edit', edit_mentorship_path(mentorship) %></td>
        <td><%= link_to 'Destroy', mentorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentorship', new_mentorship_path %>
