<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @mentorship.goal %>
</p>

<p>
  <strong>Article:</strong>
  <%= @mentorship.article %>
</p>

<%= link_to 'Edit', edit_mentorship_path(@mentorship) %> |
<%= link_to 'Back', mentorships_path %>
